@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

main {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-card {
  width: 320px;
  padding: 0.94rem;
  margin: 9.7em auto;
  background-color: hsl(0, 0%, 100%);
  padding: 1em;
  display: block;
  border-radius: 0.75em;
}

.qr-img {
  max-width: 100%;
  border-radius: 0.75em;
}

.qr-heading {
  font-size: 1.3rem;
  font-weight: 700;
  max-width: 255px;
  margin: 0.97em;
  color: hsl(218, 44%, 22%);
}

.qr-info {
  font-size: 0.94rem;
  color: hsl(220, 15%, 55%);
  max-width: 255px;
  margin: 0 auto 1em;
  text-align: center;
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
