@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  font-family: "Outfit", sans-serif;
}

.qr-card {
  width: 320px;
  height: 500px;
  margin: 155px auto;
  background-color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 15px;
}

.qr-img {
  width: 290px;
  height: 290px;
  margin: 15px auto;
  border: none;
  border-radius: 10px;
  margin-bottom: 25px;
}

.qr-heading {
  font-size: 22px;
  font-weight: 700;
  width: 255px;
  margin: 0 auto;
  color: hsl(218, 44%, 22%);
  margin-bottom: 20px;
}

.qr-info {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  width: 255px;
  margin: 0 auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
